<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand">SmartEco : Nikom</a>

  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/nikom-list" >show nikom</a>
        <a class="nav-link" routerLink="/add-nikom" routerLinkActive="active">add nikom</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>
